.outside {
  position: relative;
}
.container {
  position: absolute;
  background: #4D5064;
  width: 230px;
  height: 375px;
  padding: 20px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin: 70px 0 0 -170px;
}
.display-ring {
  position: absolute;
  background: #7C809B;
  top: 70px;
  left: 20px;
  width: 230px;
  height: 60px;
  border-radius: 10px;
}
.display {
  position: absolute;
  background: #d3d4dc;
  font-family: Play;
  text-align: right;
  font-size: 30px;
  top: 9px;
  left: 14px;
  width: 197px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}
.solar {
  position: absolute;
  top: 3px;
  left: 108px;
}
.solar li {
  display: inline-block;
  width: 15px;
  height: 30px;
  border: 1px solid black;
  background-color: #40312f;
}
.title {
  font-family: Courgette;
  font-size: 13px;
  color: #c4c8d0;
}
.numbers {
  position: absolute;
  font: italic bold 30px Kaushan;
  color: white;
  text-align: center;
  line-height: 1.7;
  top: 147px;
  left: -27px;
  width: 225px;
  height: 250px;
}
.numbers li {
  display: inline-table;
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #8D93B7;
  margin-bottom: 6px;
}
.numbers li:last-child {
  background-color: #272931;
}
.other {
  position: absolute;
  font: italic bold 30px Kaushan;
  color: white;
  text-align: center;
  line-height: 1.7;
  top: 96px;
  left: 134px;
  width: 140px;
  height: 250px;
}
.other li {
  display: inline-table;
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: background: rgba(135,135,135,1);
  background: -moz-linear-gradient(top, rgba(135,135,135,1) 0%, rgba(50,51,54,1) 35%, rgba(23,24,28,1) 46%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,135,135,1)), color-stop(35%, rgba(50,51,54,1)), color-stop(46%, rgba(23,24,28,1)));
  background: -webkit-linear-gradient(top, rgba(135,135,135,1) 0%, rgba(50,51,54,1) 35%, rgba(23,24,28,1) 46%);
  background: -o-linear-gradient(top, rgba(135,135,135,1) 0%, rgba(50,51,54,1) 35%, rgba(23,24,28,1) 46%);
  background: -ms-linear-gradient(top, rgba(135,135,135,1) 0%, rgba(50,51,54,1) 35%, rgba(23,24,28,1) 46%);
  background: linear-gradient(to bottom, rgba(135,135,135,1) 0%, rgba(50,51,54,1) 35%, rgba(23,24,28,1) 46%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#17181c', GradientType=0 );;
  margin-bottom: 6px;
}
.other li:first-child {
  height: 28px;
  background-color: #A16BC1;
  font-size: 17px;
}
.symbols li {
  position: relative;
  display: block;
  top: -65px;
  left: -187px;
  font-size: 9px;
  list-style: none;
  margin-bottom: 0px;
}
